<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <ul>
		<li>
			Amount Owed: <%= owed %>
		</li>
		<li>
			Date: <%= date %>
		</li> 
		<li>
			Description: <%= description %>
		</li>
	</ul> 
  </body>
</html>
