<html>
  <head>
    <%- include head.ejs %>
  </head>
  <body>

    <div class="topnav">
    	<h1>
    		Owed
    	</h1>
    	<ul id="topnav_controls">
    		<li>
    			About
    		</li>
    	</ul>
    </div>

    <div id="main">

    </div>

    <div class="footer">
    	<ul id="botnav_controls">
    		<li>
    			About
    		</li>
    	</ul>
    	<p>
    		Owed Copyright &copy; 2014 <a href="http://www.phasesix.net/">Phase Six</a>.  All rights reserved.
    	</p>
    </div>
  </body>
</html>
