<div class="footer">
		<ul>
			<li>
  				Input
  			</li>
  			<li>
  				Entries
  			</li>
  			<li>
  				About
  			</li>
  			<li>
  				Log Out
  			</li>
		</ul>
		<p>
			Owed Copyright &copy; 2014 <a href="http://www.phasesix.net/">Phase Six</a>.  All rights reserved.
		</p>
</div>
