<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <form>
		Amount Owed: $<input type=“text” required />
		<br>
		Date: <input type=“date” required />
		<br>
		Description: <input type=“text” required />
		<br>
		<input type="submit" value="submit" />
	</form>
  </body>
</html>
