<html>
  <head>
    <%- include head.ejs %>
  </head>
  <body>
  	<%- include topnav.ejs %>
  	<h2>INPUT NEW ENTRY</h2>
    <form action="/entry/new" method="post">
		Amount Owed: $<input type=“text” id="owed" name="owed" required />
		<br>
		Date: <input type=“date” id="date" name="date" required />
		<br>
		Description: <input type=“text” id="description" name="description" required />
		<br>
		<input type="submit" value="submit" />
	</form>
	<%- include footer.ejs %>
  </body>
</html>
